@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
p {
  font-size: 0.95rem;
  margin: 1rem 0;
  font-weight: 500;
  line-height: 1.5rem;
}
