.buyOnline {
  margin-top: 5rem;
  display: grid;
  gap: 2rem;

  @media screen and (min-width: $layout-breakpoint-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  .data {
    background-color: #ebebeb;
    padding: 2rem;

    .data-title {
      font-size: 1.2rem;
    }

    .btn-text {
      color: #df3b3b;
      font-size: 0.95rem;
    }

    .payment-image {
      display: flex;
      gap: 0.5rem;
      margin-top: 1rem;

      .payment-img {
        width: 2rem;
      }
    }
  }
}
